<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    {% block content %}
        <!-- content will be replaced -->
    {% endblock %}
    {% block content_main %}
        <!-- content will be replaced -->
    {% endblock %}
    <!-- This is content that will be rendered on all pages-->
    <p>Hello! Your username is: {{ user }}</p>
    {% if view_name %}
        <p>This is a template for the {{ view_name }} view</p>
    {% else %} 
        <p>This is a template for an unnamed view</p>
    {% endif %} 
</body>
</html>